// Import all of Bootstrap's core Sass
@import "bootstrap/scss/bootstrap";

@import "jquery-ui/themes/base/core.css";
@import "jquery-ui/themes/base/autocomplete.css";
@import "jquery-ui/themes/base/menu.css";
@import "jquery-ui/themes/base/theme.css";

@import "sidebar";




body.dark-mode {
  background-color: #111827; /* dark:bg-gray-900 equivalent */
  color: #e5e7eb; /* Optional for dark mode text */
}

.dark-mode .bg-white {
    background-color: #1f2937 !important; /* dark:bg-gray-800 equivalent */
}

.ui-autocomplete {
    z-index: 9999 !important;
    background: #fff;
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
}

.ui-menu-item-wrapper {
    padding: 8px 12px;
    cursor: pointer;
}

.ui-menu-item-wrapper:hover,
.ui-menu-item-wrapper.ui-state-active {
    background: #0d6efd; /* Matches Bootstrap primary */
    color: white;
}

.nav-link:not(.active):hover {
    background-color: rgba(13, 110, 253, 0.1);
    color: #558ee3;
    transition: 0.2s;
}

.nav-link:active {
    transform: scale(0.97);
    transition: transform 0.1s;
}

.sidebar-col {
    flex: 0 0 30%;
    height: 100%;
    min-height: 80vh;
    overflow-y: auto;
    max-width: 20%;
}

#sidebar-back-btn {
    display: none;
}

.productList-col {
    flex: 1;
}
